# what is defined in this section will be applied at all times
build --workspace_status_command bin/workspace_status.sh --incompatible_strict_action_env
test --incompatible_strict_action_env
run --incompatible_strict_action_env

